### Qusetion-1

How to import pandas and check the version?

In [1]:
import pandas as pd
print(pd.__version__)

1.1.4

### Question-2

How to create a series from a numpy array?

In [2]:
import numpy as np
import pandas as pd

numpy_array = np.array([1,2,3,4,5])
pandas_series = pd.Series(numpy_array)
print(pandas_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### Question-3

How to convert the index of a series into a column of a dataframe?

In [3]:
import numpy as np
import pandas as pd

numpy_array = np.array([5,6,7,25,45,63,74,12])
series = pd.Series(numpy_array)
pd.DataFrame(series, columns=['NewColumn'])

   NewColumn
0          5
1          6
2          7
3         25
4         45
5         63
6         74
7         12

### Question-4

Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [8]:
import seaborn as sb
sb.get_dataset_names()
mpg = sb.load_dataset('mpg')
print(mpg)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]

### Question-5

Which country origin cars are a part of this dataset?

In [9]:
import seaborn as sb
import pandas as pd

mpg = sb.load_dataset('mpg')
dataframe = pd.DataFrame(mpg)

print(dataframe.origin.unique())

['usa' 'japan' 'europe']

### Question-6

Extract the part of the dataframe which contains cars belonging to 'usa'

In [10]:
import seaborn as sb
import pandas as pd

mpg = sb.load_dataset('mpg')
dataframe = pd.DataFrame(mpg)
print(mpg.loc[mpg['origin'] == 'usa'])

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
392  27.0          4         151.0        90.0    2950          17.3
393  27.0          4         140.0        86.0    2790          15.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year origin                       name
0            70    usa  chevrolet chevelle malibu
1            70    usa          buick skylark 320
2            70    usa         plymouth satellite
3            70    usa              amc rebel sst
4            70    usa                ford torino
..          ...    ...                        ...
392          82    usa           chevrolet camaro
393          82    usa            ford mustang gl
395          82    usa              dodge rampage
396          82    usa                ford ranger
397          82    usa                 chevy s-10

[249 rows x 9 columns]